extends layout

block content
  div.nav 
    img.logo(src='/images/snackShop.png' alt='Snack Shop Logo')
    button(onclick=`redirect('/')`) Home 
    button(onclick=`redirect('/items')`) Items
    button(onclick=`redirect('/categories')`) Categories
    button(onclick=`redirect('/brands')`) Brands

  div.categoryContainer
    img.image(src=brand.image, alt='brand image')
    div.categoryTextContainer
      b #{brand.name}
      p #{brand.description}
      div.specificCategoryButtonContainer
        button(onclick=`redirect('/brands/${brand.name}/update')`) Update Brands
        button(onclick=`confirmDeleteBrand('${brand.name}')`) Delete Brands

  p.itemTitle Items
  each item in items
    button.itemContainer(onclick=`redirect('/items/${item.name}')`) 
      img.image(src=item.image, alt='Item image')
      p #{item.name}

